<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ student.full_name }} Report</title>
</head>
<body>
    <img src="{{ student.passport_photo.url }}" alt="{{ student.full_name }} Passport Photo" style="width: 100px; height: 100px;">
    <h1>{{ student.full_name }} Report</h1>
    <p>Matric Number: {{ student.matric_number }}</p>
    <p>Department: {{ student.department }}</p>
    <p>CGPA: {{ student.cgpa }}</p>
    <p>Gender: {{ student.gender }}</p>
    <p>Age: {{ student.age }}</p>
    <p>Date of Birth: {{ student.date_of_birth }}</p>
    <p>Phone Number: {{ student.contact_no }}</p>
    <p>Address: {{ student.address }}</p>
    <p>Email: {{ student.email }}</p>
    <p>Nationality: {{ student.nationality }}</p>
    <p>State of Origin: {{ student.state }}</p>
</body>
</html>
